body{
    background-color:tan;
}
.tarifiisim{
    color:brown;
}
.intro{
    font-style: italic;
    font-weight: bold;
}
span{
    font-weight: bold;
}
div{
    margin-left:300px;
}
.sure{
    text-decoration: underline;
    display: inline;
}
.sure1{
    color:firebrick;
}
.malzeme{
    margin-left: 30px;
    background-color: brown;
    color:white;
    width:280px;
    border-radius: 25px;
}
.end-p{
    text-align: end;
}